:root {
  --font-dm-sans: "DM Sans", sans-serif;

  --bg-dark-600: #242424;
  --bg-dark-700: #252525;
  --bg-dark-800: #181818;
  --bg-dark-900: #121212;

  --bg-icon: #131313;
  --bg-arrow-color: rgba(0, 0, 0, 7);

  --grey-300: #b3b3b3;
  --grey-400: #a7a7a7;
  --grey-500: #878787;
  --grey-600: #6a6a6a;

  --pink-500: #ae2896;

  --blue-500: #509bf5;

  --white: #fff;
  --black: #000;
}